* {
    box-sizing: border-box;
  }
  
  body{
    font-family: Helvetica, sans-serif;
    margin-top: 1rem;
  }
  
  .item {
    border: 1px solid white;
    background-color: lightgray;
    line-height: 2rem;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  } 
  
  .inputs {
    margin-left: 1rem;
  }
  
    button.add {
    border: none;
    padding: 0 2rem;
    background-color: red;
    color: white;
    border-radius: 4px;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  
 input[type="text"] {
    width: 60%;
  }
  
  button.remove {
    border: none;
    cursor: pointer;
    background: transparent;
  }